---
import Page from "../layouts/Page.astro";

const baseurl = import.meta.env.BASE_URL ? import.meta.env.BASE_URL : "";
---

<Page title="Wiener Diarium" baseurl={baseurl}>
	<div class="container mx-auto mt-[4%] flex max-w-[1200px] flex-col">
		<div class="self-center py-4">
			<div class="mt-8 grid grid-cols-4 gap-8">
				<a
					href={`${baseurl}search?gestrich_index%5BsortBy%5D=gestrich_index%2Fsort%2Fday%3Aasc%2Cpage%3Aasc`}
				>
					<div
						class="flex flex-col rounded-lg border border-gray-100 bg-cyan-800 p-6 text-white shadow-md hover:bg-cyan-500"
					>
						<div class="flex flex-col items-center self-center p-4">
							<h2 class="py-4 text-center text-3xl">Volltextsuche</h2>
						</div>
					</div>
				</a>
				<a href={`${baseurl}noSearch`}>
					<div
						class="flex flex-col rounded-lg border border-gray-100 bg-cyan-800 p-6 text-white shadow-md hover:bg-cyan-500"
					>
						<div class="flex flex-col items-center self-center p-4">
							<h2 class="py-4 text-center text-3xl">Suche (regex)</h2>
						</div>
					</div>
				</a>
				<a href={`${baseurl}model`}>
					<div
						class="flex flex-col rounded-lg border border-gray-100 bg-cyan-800 p-6 text-white shadow-md hover:bg-cyan-500"
					>
						<div class="flex flex-col items-center self-center p-4">
							<h2 class="py-4 text-center text-3xl">Fraktur Model</h2>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="mx-auto mt-8">
			<figure>
				<img
					class="float-left max-w-[1200px] rounded-lg border shadow-md"
					src={`${baseurl}acdh-digitarium-TagdesDenkmals-03-ÖAW_APA-Fotoservice_Schedl.jpg`}
					alt="Wiener Diarium"
				/>
				<figcaption class="mr-4">
					<em>© APA Fotoservice Schedl</em>
				</figcaption>
			</figure>
		</div>
	</div>
</Page>
