---
import EditionEditor from "./EditionEditor.astro";

const { textcolor, baseurl, backgroundcolor, width, title, date, issue } = Astro.props;
---

<aside class=`${width} ${backgroundcolor} ${textcolor}`>
	<div class="flex shrink-0 items-center text-center text-white">
		<a href=`${baseurl}` aria-label="Zurück zur Hauptseite">
			<img
				class="w-auto p-6"
				src="https://digitarium.acdh.oeaw.ac.at/wp-content/uploads/2018/08/Digitarium-Logo-Vector-final.png"
				alt="Wiener Diarium Logo"
			/>
			Zurück zur Hauptseite
		</a>
	</div>
	<div class="flex items-center justify-center text-center text-white">
		<div class="p-6">
			<h1 class="text-sm font-bold">{title}</h1>
			<p class="text-sm">{date}</p>
			<p class="text-sm">{issue}</p>
		</div>
	</div>
	<EditionEditor />
</aside>
